body {
    background-image: url(../images/gravel.png);
}
thead {
    font-weight: 700;
}
.schedule-table, .train-form {
    border: 2px solid black;
    border-radius: 5px;
}
.table-caption, .form-caption {
    font-weight: 700;
    font-size: 25px;
}