body {
    background-image: url(../images/train.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
.header {
    font-family: 'Faster One', cursive;
    font-size: 80px !important;
}
thead {
    font-weight: 700;
}
.schedule-table {
    border: 2px solid black;
    border-radius: 5px;
}
.train-form {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}
.table-caption, .form-caption {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
}
label {
    margin-bottom: 5px;
    padding-left: 2px;
}